[class*="col-"] {
  float: left;
  padding: 5px;
}
html {
    font-family: 'Charmonman';
}
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  font-size: 50px;
  color: rgb(232, 36, 17);
}
h2 {
  padding: 0;
  margin: 10px 0 0 50px;
  position: absolute;
  color: yellow;
}
.nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
}
.nav li {
  float: left;
}
.nav li a {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-left: 28px;
  border: 0;
  padding: 0;
  font-size: 35px;
  color: rgba(232,36,17);
}
.back {
  border: 0;
  margin: 0;
  width: 100%;
  padding: 0;
  height: 100%;
  background-color: #80c5de;
}
.nav {
  list-style-type: none;
  margin-left: 0;
  border: 0;
  padding: 0;
  width: 590px;
}
.image_me {
  margin: 0;
  border: 0;
  padding: 0;
  width: 650px;
  height: 250px;
  float: left;
}
.image1_me {
  margin-left: 650px;
  width: 720px;
  height: 250px;
}
.image2_me {
  margin: 0;
  padding: 0;
  border: 0;
  width: 1370px;
  height: 270px;
}
.pic_port {
  width: 50%;
  height: 50%;
}
.pic4 {
  width: 1360px;
  height: 500px;
}
.pic5 {
  width: 100%;
  margin: 200px 0 0 0;
  padding: 0;
  position: absolute;
}
.container_port {
  margin: 70px 0 0 10px;
  padding: 0;
  width: 380px;
  height: 350px;
  background-size: cover;
  /*background-image: url("pic/pic2.jpg");*/
}
.container1 {
  border: 0;
  width: 1365px;
  height: 505px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("pic/pic3.jpg");
}
@media only screen and (max-width: 600px) {
  .nav
}
@mdia only screen and (min-width: 568px){
  .col-1{width: 8.33%;}
  .col-2{width: 16.66%;}
  .col-3{width: 25%;}
  .col-4{width: 33.33%;}
  .col-5{width: 41.66%;}
  .col-6{width: 50%;}
  .col-7{width: 58.33%;}
  .col-8{width: 66.66%;}
  .col-9{width: 75%;}
  .col-10{width: 83.33%;}
  .col-11{width: 91.66%;}
  .col-12{width: 100%;}
}
@media only screen and (max-device-width: 500px){
  .container_port {
    height: auto;
    width: auto;
    background-image: url("pic/pic2.jpg");
  }
}
